@import '../sidebar/sidebar.module.scss';
@import '../app.scss';

.aside {
  width: 270px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  position: relative;
  margin-top: 100px;
  & .h3 {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: normal;
    color: #000;
    opacity: 0.8;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-top: 0;
  }
  & .title {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
  }
  .inputCheckbox + .labelCheckbox:before {
    width: 9px;
    height: 9px;
    margin-right: 8px;
  }
  .inputCheckbox + .labelCheckbox {
    font-size: 1.2rem;
  }
}
.aside:before {
  display: block;
  content: '';
  width: 12px;
  height: 12px;
  background: #fff;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  transform: rotate(45deg);
  position: absolute;
  top: -7px;
  right: 17px;
}
