@import "../../app.scss";
@import "../sidebar.module.scss";

.h2 {
  margin-top: 1rem;
}
.fieldset {
  display: none;
  .legendTaxon {
    padding-top: 0;
  }
}

.fieldsetActive {
  display: block;
}
