.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15.5rem;
  height: 20rem;

  & img {
    position: absolute;
  }

  & .large {
    width: 10rem;
    height: 10rem;
    animation: rotateRight 12s linear infinite;
    top: 5rem;
  }

  & .less {
    width: 7rem;
    height: 7rem;

    &.up {
      right: 0;
      top: 1rem;
      animation: rotateLeft 12s linear infinite;
    }

    &.down {
      right: 0;
      bottom: 1rem;
      animation: rotateLeft 12s linear infinite;
    }
  }

  &::before {
    content: "Under construction";
    position: absolute;
    font-size: 2rem;
    font-weight: bold;
    transform: translate(0%, -120%);
  }
}

@keyframes rotateRight {
  from {
    transform: rotate(23deg);
  }
  to {
    transform: rotate(383deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(25deg);
  }
  to {
    transform: rotate(-337deg);
  }
}
