@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;500;600&display=swap');

.header {
  font-size: 2rem;
  padding: 2.5rem;
  background: #FFFFFF;
  box-shadow: 0 .1rem .7rem rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .name {
    font-family: 'Prompt', sans-serif;
    font-size: 2.34rem;
    line-height: 3rem;
    color: #00C48C;
    & .name__red {
      font-family: 'Prompt', sans-serif;
      font-size: 2.34rem;
      line-height: 3rem;
      color: #CF4223;
    }
  }
  & .navigation {
    display: flex;
    justify-content: space-around;
    width: 50rem;
    & .tab {
      font-family: 'PT Sans', sans-serif;
      font-size: 1.5rem;
      line-height: 2.3rem;
      color: #000000;
    }
    & .change__lang {
      display: flex;
      justify-content: space-around;
      width: 7.5rem;
      & .flag {
        height: 0.7rem;
        width: 1.8rem;
        }
      & .tab {
        font-family: 'PT Sans', sans-serif;
        font-size: 1.6rem;
        line-height: 2.1rem;
        text-transform: uppercase;
        color: #000000;
      }
    }
  }
}

.list__lang {
  position: absolute;
  width: 9rem;
  height: 18.2rem;
  left: 101.7rem;
  top: 4.8rem;
  background: #FFFFFF;
  box-shadow: 0rem 0.1rem 0.8rem rgba(0, 0, 0, 0.08);
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  & .language {
    display: flex;
    justify-content: space-around;
    width: 6rem;
    & .flag {
      height: 0.7rem;
      width: 1.8rem;
     }
    & .tab {
      font-family: 'PT Sans', sans-serif;
      font-size: 1.6rem;
      line-height: 2.1rem;
      text-transform: uppercase;
      color: #000000;
    }
  }
}