@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

//переменные цвета
$color-main: #00c48c;

* {
  box-sizing: border-box;
}

html {
  // This makes 1rem to be equal 10px, you should use rem instead of pixels

  font-size: 62.5%;
}

input[type="range"]:focus {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: "PT Sans", sans-serif;
  overflow: hidden;
}

.main {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: calc(100vh - 19rem);
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 192rem;
}

.content {
  width: 100%;
  height: 100%;
  padding: 4.5rem;
}
