@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  // This makes 1rem to be equal 10px, you should use rem instead of pixels

  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}