@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

//переменные цвета
$color-main: #8ce4cb;

* {
  box-sizing: border-box;
}

html {
  // This makes 1rem to be equal 10px, you should use rem instead of pixels

  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 192rem;
}