@import '../app.scss';

.sidebar {
  position: relative;
  padding: 2rem 3rem;
  position: relative;
  min-width: max-content;
  height: 100%;
  border-right: 0.1rem solid #E0E0E0;
  overflow-y: auto;
  transform: translateX(-100%);
  
  &.opened {
    transform: translateX(0%);
  }
}

.h2 {
  padding: .9rem 0;
  border-bottom: .1rem solid #e0e0e0;
  margin: 0;
  position: relative;
  font-weight: normal;
  font-size: 1.6rem;
}
.h2:after {
  display: inline-block;
  content: '';
  margin-right: 1rem;
  border-right: .6rem solid transparent;
  border-left: .6rem solid transparent;
  border-top: .8rem solid $color-main;
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}
.fieldset {
  width: 100%;
  border: none;
  padding-left: 0;
  padding-right: 0;
  border-bottom: .1rem solid #e0e0e0;

  & .legend {
    padding-top: 1.4rem;
  }
  & .legend:before {
    display: inline-flex;
    content: '';
    width: .7rem;
    height: .7rem;
    margin-right: 1rem;
    border-right: .2rem solid $color-main;
    border-top: .2rem solid $color-main;
    transform: rotate(45deg);
  }
}
.inputCheckbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.inputCheckbox + .labelCheckbox {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  color: #4f4f4f;
  user-select: none;
}
.inputCheckbox + .labelCheckbox:before {
  content: '';
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  border: .2rem solid $color-main;
  margin-right: 1.4rem;
}
.inputCheckbox:checked + .labelCheckbox:before {
  background: url('../../img/checked_icon.svg') no-repeat center;
}
