.footer {
  background: #00c48c;
  min-width: max-content;
  padding: 0% 15%;
  height: 13rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;

  & .title__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;
    & .title {
      font-family: "Prompt", sans-serif;
      font-weight: bold;
      font-size: 2.4rem;
    }
    & .copy__logo {
      display: flex;
      & .text {
        margin-left: 1rem;
      }
    }
  }

  & .links__logo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10rem;

    & .navigation {
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;
      margin: 0;
      padding: 0;

    }
  }

  & .links {
    display: flex;
    align-items: center;
    align-self: flex-start;
    height: 10rem;

    & .link {
      margin-left: 2rem;
      width: 3.4rem;
      height: 3.4rem;
    }
  }

  // & div {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   justify-content: space-between;
  //   align-items: center;

  //   &:nth-child(2) {
  //     margin-top: 1.2rem;
  //     justify-content: flex-start;

  //     & .text {
  //       font-size: 1.2rem;
  //       margin-left: 0.8rem;
  //     }
  //   }
  // }
}
